[user]
  email = fcoblaya@gmail.com
  name = Fran
[core]
  editor = /usr/local/bin/vim
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lgfancy  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  lgnice = log --graph --decorate --pretty=oneline --abbrev-commit
  lgline = log --graph --oneline --all
[color]
  ui = true
#If using https authentication
#[credential]
#  helper = osxkeychain
